<section class="about">
  <div class="container">
    <div class="profile-content">
      <div class="profile-image">
        <img src="assets/images/profile.jpg" alt="Profile Photo" class="animate-fade-in">
        <div class="image-overlay"></div>
      </div>
      <div class="profile-info animate-slide-in">
        <h2>About Me</h2>
        <p class="intro">
          Ingénieur mécanique passionné, titulaire d'un Bachelor en génie mécanique, je possède des compétences solides en conception assistée par ordinateur (CAO), fabrication numérique et programmation. Curieux, rigoureux et motivé, je cherche à rejoindre une équipe dynamique pour contribuer à des projets innovants, alliant ingénierie mécanique et technologies de pointe, tout en mettant à profit mes connaissances.
        </p>

        <div class="contact-details">
          <div class="detail">
            <i class="fas fa-phone"></i>
            <span>+212 690 316 937</span>
          </div>
          <div class="detail">
            <i class="fas fa-envelope"></i>
            <span>yassaniq&#64;gmail.com</span>
          </div>
          <div class="detail">
            <i class="fas fa-map-marker-alt"></i>
            <span>FOUM OUDI BENI MELLAL</span>
          </div>
        </div>

        <div class="languages">
          <h3>Langues</h3>
          <ul>
            <li>Arabe : Langue maternelle</li>
            <li>Amazigh : Langue maternelle</li>
            <li>Français : Intermédiaire</li>
            <li>Anglais : Intermédiaire</li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</section>