<footer class="footer">
  <div class="container">
    <div class="footer-content">
      <p class="copyright">&copy; 2024 EL-ANIQ Yassine. Tous droits réservés.</p>
      <div class="social-links">
        <a href="https://www.linkedin.com/in/yassine-el-aniq-3a6942244/" target="_blank" class="social-link">
          <i class="fab fa-linkedin"></i>
        </a>
        <a href="https://github.com/wee7zzy" target="_blank" class="social-link">
          <i class="fab fa-github"></i>
        </a>
        <a href="https://x.com/yassine4114" target="_blank" class="social-link">
          <i class="fab fa-twitter"></i>
        </a>
      </div>
    </div>
  </div>
</footer>
