<header class="header">
  <div class="container">
    <div class="logo">
      <h1>EL-ANIQ Yassine</h1>
    </div>
    <nav class="nav-menu">
      <a routerLink="/about" routerLinkActive="active">About</a>
      <a routerLink="/skills" routerLinkActive="active">Skills</a>
      <a routerLink="/experience" routerLinkActive="active">Experience</a>
      <a routerLink="/projects" routerLinkActive="active">Projects</a>
      <a routerLink="/contact" routerLinkActive="active">Contact</a>
    </nav>
  </div>
</header>